.callback {
  .container {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: var(--radius-m);
    padding: 70px 106px;
    background-image: url("../images/form-bg.png");
    @include bg-op(cover, center, no-repeat);
    position: relative;
    overflow: hidden;
    @media all and (min-width: 640px) {
      min-height: 422px;
    }
    &:before {
      @include pseudo();
      top: 0;
      left: 0;
      right: 0;
      bottom: -5rem;
      pointer-events: none;
      background-image: url("../images/form-terminal.png");
      @include bg-op(40%, left center, no-repeat);
    }

    &.form-success {
      display: flex;
      justify-content: center;
      text-align: center;
      .callback__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @media all and (max-width: 639px) {
        &:before {
          display: none !important;
        }
        padding-bottom: 40px;
      }

      .success-icon {
        width: 50px;
        height: 50px;
        margin: 0 auto 20px;
        border-radius: 50%;
        background-color: #16b364;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          max-width: 80%;
          max-height: 80%;
        }
      }
    }

    @media all and (max-width: 768px) {
      padding: 50px;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @media all and (max-width: 639px) {
      padding: 40px 30px 350px;
      &:before {
        background-image: url("../images/callbackFormMobile.png");
        @include bg-op(65%, center bottom, no-repeat);
      }
    }

    @media all and (max-width: 480px) {
      &:before {
        @include bg-op(75%, center bottom, no-repeat);
      }
    }

    @media all and (max-width: 380px) {
      &:before {
        @include bg-op(90%, center bottom, no-repeat);
      }
    }

    @media all and (max-width: 360px) {
      padding: 40px 30px 330px;
      &:before {
        @include bg-op(90%, right 30% bottom, no-repeat);
        bottom: -5rem;
      }
    }
  }

  &__head {
    margin-bottom: 40px;
    @media all and (max-width: 639px) {
      text-align: center;
    }
  }

  &__col {
    width: 50%;
    margin-left: auto;
    @media all and (max-width: 639px) {
      width: 100%;
    }
    .success {
      line-height: 1.2;
      .sub {
        margin-top: 5px;
        @media all and (max-width: 480px) {
          margin-top: 20px;
        }
        display: block;
      }
    }
  }

  &__title {
    margin-bottom: 10px;
    @media all and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__desc {

  }

  &__form {
    .error-message {
      padding: 10px;
      color: var(--color-white);
      background-color: tomato;
      border-radius: var(--radius-s);
      margin-bottom: 18px;
    }

    @media all and (max-width: 639px) {
      .lp-button {
        width: 100%;
      }
    }
  }

  &__form-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    @media all and (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 40px;
    }

    @media all and (max-width: 639px) {
      align-items: center;
      text-align: center;
      .lp-button {
        width: auto;
      }
    }
    span {
      font: var(--font-weight-m) var(--font-m);
      max-width: 315px;
      display: inline-block;
      @media all and (max-width: 1024px) {
        margin-bottom: 20px;
      }

      @media all and (max-width: 639px) {
        font-size: 15px;
        font-weight: var(--font-weight-s);
        line-height: 16.5px;
        max-width: 190px;
      }
    }
  }
}