.capabilities {
  $self: &;
  .container {
    background-color: var(--color-light-gray);
    border-radius: var(--radius-m);
    padding: 50px 135px 50px;
    margin-bottom: 70px;
    margin-top: 70px;
    @media all and (max-width: 768px) {
      padding: 50px 10px 50px;
      margin-bottom: 70px;
    }

    @media all and (max-width: 480px) {
      padding: 40px 10px 10px;
      margin-bottom: 30px;
    }
  }

  &__head {
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__table {
    background-color: var(--color-white);
    border-radius: var(--radius-m);
  }

  &__table-col {
    width: calc(100% / 3);
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    font: var(--font-weight-m) var(--font-m);
    color: var(--secondary);
    a {
      text-decoration: none;
      color: var(--primary);
      font: var(--font-weight-s) var(--font-s);
      &:hover {
        text-decoration: underline;
      }
    }
    &:first-child {
      text-align: left;
      align-items: flex-start;
      line-height: 26px;
    }
    &:last-child {
      border-right: 0;
    }

    svg {
      width: 24px;
      height: 24px;
      margin: auto;
    }

    .title {
      font: var(--font-weight-b) var(--font-xm);
      color: var(--color-dark);
    }

    .desc {
      font: var(--font-weight-s) var(--font-s);
      color: rgba(var(--dark-rgb), .4);
    }
  }

  &__table-row {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid var(--border-color);
    &:last-child {
      border-bottom: 0;
    }
  }

  &__table-head {
    #{$self}__table-col {
      justify-content: flex-start;
      padding: 40px 40px 30px;
    }
  }

  &__table-footer {

  }
}