.product {
  background-color: var(--color-dark);
  color: var(--color-white);
  background-image: url("../images/product-bg.png");
  @include bg-op(contain, top center, no-repeat);
  $self: &;
  .container {
    padding-top: 70px;
    padding-bottom: 70px;

    @media all and (max-width: 640px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;
    @media all and (max-width: 640px) {
      margin-bottom: 20px;
    }
  }

  &__desc {
    font-size: 26px;
    font-weight: var(--font-weight-b);
    line-height: 36px;

    @media all and (max-width: 640px) {
      font-weight: var(--font-weight-m);
      font-size: 20px;
      line-height: 30px;
      br {
        display: none;
      }
    }
  }

  &__slider {
    padding: 40px 0 0 40px;
    background-color: var(--color-white);
    border-radius: var(--radius-sm);
    position: relative;
    color: var(--color-dark);
    max-width: 1036px;
    width: 100%;
    margin: 40px auto;
    overflow: hidden;

    @media all and (max-width: 640px) {
      padding: 30px 30px 20px 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .swiper-wrapper {
        display: flex;
        align-items: stretch;
      }
    }
  }

  &__slider-item {
    display: flex;
    align-items: stretch;
    &:before {
      content: var(--current-index);
      display: block !important;
      font-weight: var(--font-weight-b);
      font-size: 250px;
      line-height: 180px;
      color: var(--mobile-slider-background);
      position: absolute;
      bottom: 25px;
      right: 12px;
      z-index: -1;
    }
    transition: var(--transition);
    opacity: 0;

    &.swiper-slide-active {
      opacity: 1;
    }

    @media all and (min-width: 641px) {
      transform: translateY(100px) !important;

      &.swiper-slide-active {
        transform: translateY(0) !important;
      }
    }

    @media all and (max-width: 640px) {
      position: unset;
      min-height: 190px !important;
      //&:before {
      //  color: var(--color-white);
      //  width: 40px;
      //  border-radius: 50%;
      //  background-color: var(--primary);
      //  top: 0;
      //  left: 0;
      //  font-size: 15px;
      //  font-weight: var(--font-weight-b);
      //  line-height: 40px;
      //  height: 40px;
      //  text-align: center;
      //}

      &:before {
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        font-size: 220px;
      }
    }
  }

  &__slider-item-left {
    max-width: 634px;
    width: 100%;
    position: relative;
    transition: var(--transition);
    @media all and (max-width: 768px) {
      max-width: 375px;
    }

    @media all and (max-width: 640px) {
      display: none;
    }
    a {
      padding-top: 47.7%;
      display: block;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__slider-item-right {
    padding: 40px 40px 33px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    font: var(--font-weight-m) var(--font-m);
    max-width: 320px;

    @media all and (max-width: 640px) {
      padding: 0;
      font: var(--font-weight-m) var(--font-m);
      max-width: 200px;
      br {
        display: none;
      }
    }

    @media all and (max-width: 375px) {
      font: var(--font-weight-m) var(--font-m);
    }
  }

  &__slider-pagination {
    @media all and (min-width: 641px) {
      display: none;
    }
    margin-top: 16px;
  }

  &__slider-arrows {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1;

    @media all and (max-width: 640px) {
      display: none;
    }
    button {
      width: 38px;
      height: 38px;
      cursor: pointer;
      transition: opacity var(--transition);
      svg {
        width: 100%;
        height: 100%;
      }
      &.swiper-button-disabled {
        opacity: .3;
        pointer-events: none;
      }
    }
  }

  &__slider-bot-text {
    text-align: center;
    font-size: 26px;
    font-weight: var(--font-weight-b);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (max-width: 640px) {
      font-weight: var(--font-weight-m);
      font-size: 20px;
      line-height: 30px;
    }
  }
  &__slider-tel {
    color: var(--color-white);
    font-weight: var(--font-weight-m);
    margin-top: 30px;
    transition: var(--transition);
    &:hover {
      color: var(--primary);
    }
    @media all and (max-width: 639px) {
      display: none;
    }
  }

  &__slider-tel-mobile {
    @media all and (min-width: 640px) {
      display: none;
    }
    margin-top: 30px;
  }
}