<section class="banner">
    <div class="banner__container container">
        <div class="banner__left-col">
            <div class="banner__head">
                <div class="banner__title ">
                    <h1 class="text-xxl">Новый тариф «Простой»</h1>
                </div>
                <div class="banner__subtitle text-xl">
                    <span>Стоимость меньше, чем за абонентскую <br> плату, а возможностей намного больше!</span>
                </div>
            </div>
            <ul class="services-list">
                <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                    <span class="services-list__title">
                        Обслуживание  онлайн-кассы
                    </span>
                </li>
                <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                    <span class="services-list__title">
                        Прием безналичной оплаты Humo, Visa, Mastercard
                    </span>
                </li>
                <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                    <span class="services-list__title">
                        Интеграция с платежными приложениями Click, Payme, Paynet, A-Pay и др.
                    </span>
                </li>
                <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                    <span class="services-list__title">
                        Прием российский карт МИР, Visa, Mc и СБП
                    </span>
                </li>
                <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                    <span class="services-list__title">
                        Дополнительный функционал личного кабинета
                    </span>
                </li>
                <li class="services-list__item services-list__item--sm">
                    <span class="services-list__text-icon">
                        Скоро
                    </span>
                    <span class="services-list__title">
                        Прием Uzcard с июля
                    </span>
                </li>
            </ul>
            <div class="banner__mobile-slider swiper">
                <div class="banner__mobile-slider-flag">
                    <span>В стоимость включено:</span>
                </div>
                <div class="swiper-wrapper">
                    <div class="banner__mobile-slider-item swiper-slide">
                        <div class="banner__mobile-slider-pic">
                            <img src="./assets/slider_1.png" alt="slide_1">
                        </div>
                        <div class="banner__mobile-slider-desc">
                            Обслуживание онлайн-кассы
                        </div>
                    </div>
                    <div class="banner__mobile-slider-item swiper-slide">
                        <div class="banner__mobile-slider-pic">
                            <img src="./assets/slider_2.png" alt="slide_2">
                        </div>
                        <div class="banner__mobile-slider-desc">
                            Прием безналичной оплаты
                        </div>
                    </div>
                    <div class="banner__mobile-slider-item swiper-slide">
                        <div class="banner__mobile-slider-pic">
                            <img src="./assets/slider_3.png" alt="slide_3">
                        </div>
                        <div class="banner__mobile-slider-desc">
                            Интеграция с платежными <br> приложениями
                        </div>
                    </div>
                    <div class="banner__mobile-slider-item swiper-slide">
                        <div class="banner__mobile-slider-pic">
                            <img src="./assets/slider_4.png" alt="slide_4">
                        </div>
                        <div class="banner__mobile-slider-desc">
                            Дополнительный функционал <br> личного кабинета
                        </div>
                    </div>
                </div>
                <div class="banner__mobile-slider-pagination swiper-pagination"></div>
            </div>
            <div class="banner__footer">
                <div class="banner__footer-left">
                    <div class="banner__footer-subtitle">
                        <span>92 000 сум</span>
                    </div>
                    <div class="banner__footer-title">
                        <span>85 000 сум</span>
                    </div>
                </div>
                <div class="banner__footer-right">
                    {{> button  link="#callback" title="Подключить" selectors="primary"}}
                </div>
            </div>
        </div>
        <div class="banner__right-col">
            {{> button  link="#callback" title="Успейте перейти до 15 июля" selectors="accent"}}
            <div class="banner__pic">
                <img src="./assets/banner-image.png" alt="terminal">
            </div>
        </div>
    </div>
</section>