<section class="banner">
    <div class="banner__container container">
        <div class="banner__left-col">
            <div class="banner__head">
                <div class="banner__title text-xxl">
                    <span>A-Pay P10</span>
                </div>
                <div class="banner__subtitle text-xl">
                    <span>Онлайн-ККМ для бизнеса <br> любого масштаба</span>
                </div>
            </div>
            <ul class="services-list">
                <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                    <span class="services-list__title">
                        Прием безналичной оплаты: Humo, Visa, Mastercard
                    </span>
                </li>
                <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                    <span class="services-list__title">
                        Встроенный сканер и работа с маркировкой
                    </span>
                </li>
                <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                    <span class="services-list__title">
                        Интеграция с Tasnif для комфортной работы с каталогом
                    </span>
                </li>
                <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                    <span class="services-list__title">
                        Оплата по QR: Payme, Oson, Paynet, Anor и другие
                    </span>
                </li>
                <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                    <span class="services-list__title">
                        Прием российских карт МИР, Visa, MC и СБП
                    </span>
                </li>
                <li class="services-list__item services-list__item--sm">
                    <span class="services-list__text-icon">
                        Скоро
                    </span>
                    <span class="services-list__title">
                        Прием Uzcard с июля
                    </span>
                </li>
            </ul>
            <div class="banner__mobile-slider swiper">
                <div class="swiper-wrapper">
                    <div class="banner__mobile-slider-item swiper-slide">
                        <div class="banner__mobile-slider-pic">
                            <img src="./assets/slider_1.png" alt="slide_1">
                        </div>
                        <div class="banner__mobile-slider-desc">
                            Прием безналичной оплаты: <br> Humo, Visa, Mastercard
                        </div>
                    </div>
                    <div class="banner__mobile-slider-item swiper-slide">
                        <div class="banner__mobile-slider-pic">
                            <img src="./assets/slider_2.png" alt="slide_2">
                        </div>
                        <div class="banner__mobile-slider-desc">
                            Актуальна для туристических зон: прием российских карт <br> МИР, Visa, MC и СБП
                        </div>
                    </div>
                    <div class="banner__mobile-slider-item swiper-slide">
                        <div class="banner__mobile-slider-pic">
                            <img src="./assets/slider_3.png" alt="slide_3">
                        </div>
                        <div class="banner__mobile-slider-desc">
                            Оплата на местах для быстрого <br> приема платежей: Click, Payme,<br> Oson, Paynet, A-Pay и другие
                        </div>
                    </div>
                    <div class="banner__mobile-slider-item swiper-slide">
                        <div class="banner__mobile-slider-pic">
                            <img src="./assets/slider_4.png" alt="slide_4">
                        </div>
                        <div class="banner__mobile-slider-desc">
                            Прием Uzcard с июля
                        </div>
                    </div>
                </div>
                <div class="banner__mobile-slider-pagination swiper-pagination"></div>
            </div>
            <div class="banner__footer">
                <div class="banner__footer-left">
                    <div class="banner__footer-title">
                        <span>Бесплатно</span>
                    </div>
                    <div class="banner__footer-subtitle">
                        <span>при выборе тарифа Hamkor</span>
                    </div>
                </div>
                <div class="banner__footer-right">
                    {{> button  link="#callback" title="Получить консультацию" selectors="primary"}}
                </div>
            </div>
        </div>
        <div class="banner__right-col">
            <div class="banner__pic">
                <img src="./assets/banner-image.png" alt="terminal">
            </div>
        </div>
    </div>
</section>