<section class="callback" id="callback">
    <div class="container">
        <div class="callback__col">
            <div class="callback__head">
                <div class="callback__title text-xl">
                    <span>Оставьте заявку</span>
                </div>
                <div class="callback__desc text-xm">
                    Мы свяжемся с вами в течение дня и предложим <br> оптимальные решения для вашего бизнеса
                </div>
            </div>
            <div class="callback__form">
                <form class="form">
                    <div class="form__fields-group">
                        <div class="form__field">
                            <input type="text" name="name" required placeholder="Имя">
                        </div>
                        <div class="form__field">
                            <input type="text" name="phone" required placeholder="Номер телефона">
                        </div>
                    </div>
                    <div class="form__field">
                        {{> button title="Отправить" selectors="primary"}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>