<section class="capabilities">
    <div class="container">
        <div class="capabilities__head">
            <div class="capabilities__title text-xl">
                <span>Возможности и функции кассы</span>
            </div>
            <ul class="capabilities__tags">
                <li class="capabilities__tags-item">
                    <span class="icon">
                        <svg>
                            <use xlink:href="#mobileIcon" />
                        </svg>
                    </span>
                    <span class="title">Android 11 GO</span>
                </li>
                <li class="capabilities__tags-item">
                    <span class="icon">
                        <svg>
                            <use xlink:href="#bluetoothIcon"/>
                        </svg>
                    </span>
                    <span class="title">Bluetooth</span>
                </li>
                <li class="capabilities__tags-item">
                    <span class="icon">
                        <svg>
                            <use xlink:href="#barchartIcon"/>
                        </svg>
                    </span>
                    <span class="title">4G</span>
                </li>
                <li class="capabilities__tags-item">
                    <span class="icon">
                        <svg>
                            <use xlink:href="#usbIcon"/>
                        </svg>
                    </span>
                    <span class="title">USB-C</span>
                </li>
                <li class="capabilities__tags-item">
                    <span class="icon">
                        <svg>
                            <use xlink:href="#batteryIcon"/>
                        </svg>
                    </span>
                    <span class="title">2500 mAh</span>
                </li>
            </ul>
            <div class="capabilities__payments">
                <div class="capabilities__payments-items">
                    <div class="capabilities__payments-item">
                        <img src="./assets/icon-humo.svg" alt="humo icon">
                    </div>
                    <div class="capabilities__payments-item">
                        <img src="./assets/icon-mastercard.svg" alt="mastercard icon">
                    </div>
                    <div class="capabilities__payments-item">
                        <img src="./assets/icon-mir.svg" alt="mir icon">
                    </div>
                    <div class="capabilities__payments-item">
                        <img src="./assets/icon-visa.svg" alt="visa icon">
                    </div>
                    <div class="capabilities__payments-item">
                        <img src="./assets/icon-oson.svg" alt="oson icon">
                    </div>
                    <div class="capabilities__payments-item">
                        <img src="./assets/icon-paynet.svg" alt="paynet icon">
                    </div>
                    <div class="capabilities__payments-item">
                        <img src="./assets/icon-payme.svg" alt="payme icon">
                    </div>
                    <div class="capabilities__payments-item">
                        <img src="./assets/icon-click.svg" alt="click icon">
                    </div>
                    <div class="capabilities__payments-item">
                        <img src="./assets/apay.svg" alt="click icon">
                    </div>
                </div>
                <div class="capabilities__payments-desc text-xm">
                    Интеграция c национальными <br>
                    и зарубежными платежными <br> системами и приложениями
                </div>
            </div>
            <div class="capabilities__columns">
                <div class="capabilities__column">
                    <div class="capabilities__column-pic">
                        <img src="./assets/icon-battery.svg" alt="battery">
                    </div>
                    <div class="capabilities__column-title text-xm">
                        <span>24 часа без подзарядки</span>
                    </div>
                    <div class="capabilities__column-desc">
                        Бесперебойная работа кассы даже в условиях отсутствия электричества
                    </div>
                </div>
                <div class="capabilities__column">
                    <div class="capabilities__column-pic">
                        <img src="./assets/icon-document.svg" alt="battery">
                    </div>
                    <div class="capabilities__column-title text-xm">
                        <span>Мощный термопринтер</span>
                    </div>
                    <div class="capabilities__column-desc">
                        Печатает чеки 2 в 1 (товарный и фискальный) за 10 секунд
                    </div>
                </div>
                <div class="capabilities__column">
                    <div class="capabilities__column-pic">
                        <img src="./assets/icon-camera.svg" alt="battery">
                    </div>
                    <div class="capabilities__column-title text-xm">
                        <span>2D-сканер</span>
                    </div>
                    <div class="capabilities__column-desc">
                        Сканирует маркированные товары и штрихкоды
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>