<section class="faq">
    <div class="container">
        <div class="faq__title text-xl">
            Часто задаваемые вопросы
        </div>
        <div class="faq__items">
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        Сколько времени занимает подключение?
                    </span>
                </div>
                <div class="faq__item-body">
                    Подключение проводится очень быстро. Оно занимает до 5 минут, после чего вы сразу сможете приступить к работе.
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        Не получается подключить самостоятельно. Что делать?
                    </span>
                </div>
                <div class="faq__item-body">
                    Если вам не удается произвести подключение самостоятельно, то позвоните в наш контакт-центр и операторы подключат вас в кратчайшие сроки.
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        По каким реквизитам оплачивать?
                    </span>
                </div>
                <div class="faq__item-body">
                    Услуги Smart Trade оплачиваются компании CDTI по следующим реквизитам: <br>
                    <br>
                    JSCB «HAMKORBANK»<br>
                    ООО«CENTER FOR DIGITAL TECHNOLOGY AND INNOVATION»<br>
                    Адрес: 100090 Республика Узбекистан, г.Ташкент, Яшнабадский район, улица Махтумкули 81<br>
                    ИНН: 306 344 019<br>
                    Р/С: 2020 8000 0050 6594 4001<br>
                    МФО банка: 00083  ОКЭД 58290<br>
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        Будет ли приниматься Uzcard?
                    </span>
                </div>
                <div class="faq__item-body">
                    Да! На всех наших кассах платежная система Uzcard будет подключена с июля текущего года.
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        Нужно ли доплачивать за подключение Humo?
                    </span>
                </div>
                <div class="faq__item-body">
                    Во всех онлайн-кассах A-Pay P10 система Humo уже подключена и оплаты не требует. На онлайн-ККМ Uzkassa N5 подключение платное.
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        Мне сделают перерасчет абонентской платы, которую я уже оплатил?
                    </span>
                </div>
                <div class="faq__item-body">
                    Если вы уже оплатили текущий тариф и хотите перейти на новый, мы можем произвести перерасчет. Разница в стоимости будет зачислена на ваш баланс, либо по вашему желанию может быть возвращена на расчетный счет.
                </div>
            </div>
        </div>
    </div>
</section>