<section class="faq">
    <div class="container">
        <div class="faq__title text-xl">
            Часто задаваемые вопросы
        </div>
        <div class="faq__items">
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        Сколько времени занимает подключение?
                    </span>
                </div>
                <div class="faq__item-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad, aliquam amet assumenda atque eligendi eum facere id ipsum maiores minima neque nobis nulla officia omnis quaerat quas sit unde?
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        Не получается подключить самостоятельно. Что делать?
                    </span>
                </div>
                <div class="faq__item-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque deleniti dicta dignissimos dolore, esse ex hic ipsum labore laudantium maiores nostrum odit omnis perferendis placeat quos repudiandae tempora, voluptas.
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        По каким реквизитам оплачивать?
                    </span>
                </div>
                <div class="faq__item-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque deleniti dicta dignissimos dolore, esse ex hic ipsum labore laudantium maiores nostrum odit omnis perferendis placeat quos repudiandae tempora, voluptas.
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        Будет ли приниматься Uzcard?
                    </span>
                </div>
                <div class="faq__item-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque deleniti dicta dignissimos dolore, esse ex hic ipsum labore laudantium maiores nostrum odit omnis perferendis placeat quos repudiandae tempora, voluptas.
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        Нужно ли доплачивать за подключение Humo?
                    </span>
                </div>
                <div class="faq__item-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque deleniti dicta dignissimos dolore, esse ex hic ipsum labore laudantium maiores nostrum odit omnis perferendis placeat quos repudiandae tempora, voluptas.
                </div>
            </div>
            <div class="faq__item">
                <div class="faq__item-head text-xm">
                    <span>
                        Мне сделают перерасчет абонентской платы, которую я уже оплатил?
                    </span>
                </div>
                <div class="faq__item-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque deleniti dicta dignissimos dolore, esse ex hic ipsum labore laudantium maiores nostrum odit omnis perferendis placeat quos repudiandae tempora, voluptas.
                </div>
            </div>
        </div>
    </div>
</section>