<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__col">
                <div class="footer__logo">
                    <a href="/">
                        <svg viewBox="0 0 202 50">
                            <use xlink:href="#siteLogo" />
                        </svg>
                    </a>
                </div>
                <div class="footer__desc">
                    Инновационная экосистема, которая возьмет
                    все бизнес-процессы под полный контроль. <br> <br>
                    Продажа товаров, прием оплаты картами
                    любых платежных систем и по QR-коду,
                    отправка электронных чеков, работа с
                    маркировкой и кодами агрегации, складской
                    учет и инвентаризация, электронный
                    документооборот, готовая клиентская база и
                    многое другое — бизнес под ключ со
                    SMARTPOS.
                </div>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li>
                        <span>Документы</span>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/oferty">Оферты</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/sertifikaty">Сертификаты</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/brendbuk">Брендбук</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/dlya-partnerov">Для партнеров</a>
                    </li>
                    <li class="with-icon">
                        <a href="/">
                            <svg>
                                <use xlink:href="#footerSvgIcon"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li>
                        <span>Продукты</span>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/trade">Trade</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/supply">Supply</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz">Horeca</a>
                    </li>
                    <li>
                        <a href="https://smart-medicine.uz">Medicine</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/silen">Silen</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/x-file">X-file</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/help">Smartpos Help</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/web-kassa">Web-kassa</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li>
                        <span>Оборудование</span>
                    </li>
                    <li>
                        <a href="/">A-Pay P10</a>
                    </li>
                    <li>
                        <a href="/">Uzkassa N5</a>
                    </li>
                    <li>
                        <a href="/">Uzkassa P100</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li>
                        <span>О нас</span>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/support">Служба поддержки</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/support">FAQ</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/o-nas">О нас</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/kontakty">Контакты</a>
                    </li>
                    <li>
                        <a href="https://smartpos.uz/ofisy">Офисы</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bot">
            <div class="footer__bot-left">
                {{> button  link="#callback" title="Связаться с нами" selectors="primary"}}
            </div>
            <div class="footer__bot-right">
                <ul class="footer__socials">
                    <li>
                        <a href="https://t.me/smartpos_uz">
                            <svg>
                                <use xlink:href="#telegramIcon"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/smartpos.uzb">
                            <svg>
                                <use xlink:href="#facebookIcon"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/smartpos_uz?igshid=ZWQyN2ExYTkwZQ%3D%3D">
                            <svg>
                                <use xlink:href="#instagramIcon"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer__copyright">
                    © <span id="curYear">2024</span> Smartpos. Все права защищены.
                </div>
            </div>
        </div>
    </div>
</footer>