<header class="header">
    <div class="container">
        <div class="header__left-col">
            <a href="/" class="header__logo">
                <svg viewBox="0 0 202 50">
                    <use xlink:href="#siteLogo" />
                </svg>
            </a>
        </div>
        <div class="header__right-col">
            {{> language-switcher }}
        </div>
    </div>
</header>

