<div class="languageSwitcher">
    <div class="languageSwitcher__head">
        <div class="languageSwitcher__item">
            <div class="languageSwitcher__icon">
                <svg>
                    <use xlink:href="#russianFlag"/>
                </svg>
            </div>
            <div class="languageSwitcher__arrow">
                <svg>
                    <use xlink:href="#arrowDown"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="languageSwitcher__body">
        <a href="/" class="languageSwitcher__item" data-lang="ru">
            <div class="languageSwitcher__icon">
                <svg>
                    <use xlink:href="#russianFlag"/>
                </svg>
            </div>
            <span class="languageSwitcher__label">Ru</span>
        </a>
        <a href="/uz.html" class="languageSwitcher__item" data-lang="uz">
            <div class="languageSwitcher__icon">
                <svg>
                    <use xlink:href="#uzbekFlag"/>
                </svg>
            </div>
            <span class="languageSwitcher__label">Uz</span>
        </a>
    </div>
</div>