<section class="product">
    <div class="container">
        <div class="product__head">
            <div class="product__title text-xl">
                <span>Как приобрести <br> онлайн-кассу?</span>
            </div>
            <div class="product__btns">
                <div class="product__btns-left">
                    {{> button link="#hamkor" title="Получить бесплатно" selectors="primary"}}
                    <span class="sub">
                        при подключению к тарифу Hamkor
                    </span>
                </div>
                <div class="product__btns-right">
                    {{> button link="#callback" title="Купить за 2 699 000 сум" selectors="secondary"}}
                    <span class="sub">
                        + aбонентская плата от 85 000 сум в месяц
                    </span>
                </div>
            </div>
        </div>
        <div class="product__pic">
            <img src="./assets/product.png" alt="product">
        </div>
        <div class="product__info" id="hamkor">
            <div class="product__info-col">
                <div class="product__info-title text-xxl">
                    <span>Тариф Hamkor</span>
                </div>
                <ul class="services-list services-list--with-dropdown">
                    <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                        <span class="services-list__title">
                        Бесплатная онлайн-касса A-Pay P10 и обслуживание
                    </span>
                    </li>
                    <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                        <span class="services-list__title">
                        Электронный документооборот
                    </span>
                    </li>
                    <li class="services-list__item">
                    <span class="services-list__icon">
                        <svg>
                            <use xlink:href="#checkIcon"/>
                        </svg>
                    </span>
                        <span class="services-list__title">
                        Личный кабинет с инструментами для автоматизации: складской учет, виртуальная касса Webkassa, отчеты и аналитика
                    </span>
                    </li>
                    <li class="services-list__item">
                        <span class="services-list__icon">
                            <svg>
                                <use xlink:href="#checkIcon"/>
                            </svg>
                        </span>
                        <span class="services-list__title">
                        Оплата по QR: Payme, Oson, Paynet, Anor и другие
                    </span>
                    </li>
                    <li class="services-list__item">
                        <span class="services-list__icon">
                            <svg>
                                <use xlink:href="#checkIcon"/>
                            </svg>
                        </span>
                        <span class="services-list__title">
                            Прием российских карт МИР, Visa, MC и СБП
                        </span>
                    </li>
                </ul>
                <div class="product__info-footer">
                    <div class="product__info-price">
                        <span class="text-xl">175 000 сум</span>
                        <span class="sub">в месяц</span>
                    </div>
                    {{> button link="#callback" title="Подключить тариф" selectors="primary"}}
                </div>
            </div>
        </div>
    </div>
</section>