<section class="services">
    <div class="container">
        <div class="services__head">
            <div class="services__title text-xl">
                <span>Комплексное обслуживание</span>
            </div>
            <div class="services__subtitle">
                Онлайн-ККМ A-Pay P10 легко освоить как новичку, <br> так и профи. А с помощью нашего сервиса мы <br> окажем помощь на всех этапах пользования.
            </div>
            <div class="services__subtitle mobile">
                Оказываем помощь на всех этапах пользования
            </div>
        </div>
        <div class="services__items">
            <div class="services__item">
                <div class="services__item-pic">
                    <svg viewBox="0 0 64 64">
                        <use xlink:href="#telephone"/>
                    </svg>
                </div>
                <div class="services__item-title text-xm">
                    <span>Покупка кассы</span>
                </div>
                <div class="services__item-desc text-xm">
                    Настроим и передадим готовую <br> кассу сразу после покупки,<br>
                    а также обучим персонал
                </div>
            </div>
            <div class="services__item">
                <div class="services__item-pic">
                    <svg viewBox="0 0 64 64">
                        <use xlink:href="#usersIcon"/>
                    </svg>
                </div>
                <div class="services__item-title text-xm">
                    <span>Поддержка 24/7</span>
                </div>
                <div class="services__item-desc text-xm">
                    В случае возникновения вопросов <br> наш call-центр круглосуточно <br> ответит на все вопросы
                </div>
            </div>
            <div class="services__item">
                <div class="services__item-pic">
                    <svg viewBox="0 0 64 64">
                        <use xlink:href="#checkedIcon"/>
                    </svg>
                </div>
                <div class="services__item-title text-xm">
                    <span>Гарантия 12 месяцев</span>
                </div>
                <div class="services__item-desc text-xm">
                    Техническое обслуживание <br>
                    и консультация по любым вопросам <br>
                    в наших офисах
                </div>
            </div>
        </div>
        <div class="services__btn">
            {{> button link="#callback" title="Получить консультацию" selectors="primary"}}
        </div>
    </div>
</section>