<section class="capabilities">
    <div class="container">
        <div class="capabilities__head">
            <div class="capabilities__title text-xl">
                <span>Сравнение тарифа <br> и абонентской платы</span>
            </div>
            <div class="capabilities__table">
                <div class="capabilities__table-row capabilities__table-head">
                    <div class="capabilities__table-col">
                        <span class="title">Функции</span>
                    </div>
                    <div class="capabilities__table-col">
                        <span class="title">Без тарифа</span>
                        <span class="desc">абонентская плата</span>
                    </div>
                    <div class="capabilities__table-col">
                        <span class="title">Тариф «Простой»</span>
                        <span class="desc">вкл. абонентскую плату</span>
                    </div>
                </div>
                <div class="capabilities__table-row">
                    <div class="capabilities__table-col">
                        Интеграция с платежными сервисами Payme, Oson, Paynet, A-Pay и др.
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#noIcon"/>
                        </svg>
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                </div>
                <div class="capabilities__table-row">
                    <div class="capabilities__table-col">
                        Прием оплаты российскими картами и СБП
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#noIcon"/>
                        </svg>
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                </div>
                <div class="capabilities__table-row">
                    <div class="capabilities__table-col">
                        Telegram-бот для получения отчетов
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#noIcon"/>
                        </svg>
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                </div>
                <div class="capabilities__table-row">
                    <div class="capabilities__table-col">
                        Пакет на отправку 10 ЭСФ
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#noIcon"/>
                        </svg>
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                </div>
                <div class="capabilities__table-row">
                    <div class="capabilities__table-col">
                        Пакет на отправку 20 СМС
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#noIcon"/>
                        </svg>
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                </div>
                <div class="capabilities__table-row">
                    <div class="capabilities__table-col">
                        Обслуживание онлайн-кассы
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                </div>
                <div class="capabilities__table-row">
                    <div class="capabilities__table-col">
                        Кабинет владельца и кассира
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                </div>
                <div class="capabilities__table-row">
                    <div class="capabilities__table-col">
                        Webkassa
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                </div>
                <div class="capabilities__table-row">
                    <div class="capabilities__table-col">
                        Уведомления
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                </div>
                <div class="capabilities__table-row">
                    <div class="capabilities__table-col">
                        Работа с каталогом
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                    <div class="capabilities__table-col">
                        <svg>
                            <use xlink:href="#yesIcon"/>
                        </svg>
                    </div>
                </div>
                <div class="capabilities__table-row capabilities__table-footer">
                    <div class="capabilities__table-col">
                        <a href="https://smartpos.uz/wp-content/uploads/2024/06/smart-trade-oferta.pdf">Полная информация <br> о тарифе «Простой»</a>
                    </div>
                    <div class="capabilities__table-col">
                        <span class="title">
                            92 000 сум/мес
                        </span>
                    </div>
                    <div class="capabilities__table-col">
                        <span class="title">
                            85 000 сум/мес
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>