<section class="product">
    <div class="container">
        <div class="product__head">
            <div class="product__title text-xl">
                <span>Как подключить?</span>
            </div>
            <div class="product__desc">
                Вы можете самостоятельно сменить тарифный <br> план через личный кабинет. Для этого <br> выполните следующие шаги:
            </div>
        </div>
        <div class="product__slider swiper">
            <div class="swiper-wrapper">
                <div class="product__slider-item swiper-slide">
                    <div class="product__slider-item-left">
                        <a href="./assets/todo-slide_01.png" data-src="./assets/todo-slide_01.png">
                            <img src="./assets/todo-slide_01.png" alt="todo-slide-01">
                        </a>
                    </div>
                    <div class="product__slider-item-right">
                        Выберите раздел «Все услуги» и нужный тариф для подключения в личном кабинете Smart Trade
                    </div>
                </div>
                <div class="product__slider-item swiper-slide">
                    <div class="product__slider-item-left">
                        <a href="./assets/todo-slide_02.png" data-src="./assets/todo-slide_02.png">
                            <img src="./assets/todo-slide_02.png" alt="todo-slide-02">
                        </a>
                    </div>
                    <div class="product__slider-item-right">
                        Подтвердите <br> подключение
                    </div>
                </div>
                <div class="product__slider-item swiper-slide">
                    <div class="product__slider-item-left">
                        <a href="./assets/todo-slide_03.png" data-src="./assets/todo-slide_03.png">
                            <img src="./assets/todo-slide_03.png" alt="todo-slide-03">
                        </a>
                    </div>
                    <div class="product__slider-item-right">
                        В разделе «Подключенные <br> услуги» перейдите к счету <br> на оплату
                    </div>
                </div>
                <div class="product__slider-item swiper-slide">
                    <div class="product__slider-item-left">
                        <a href="./assets/todo-slide_04.png" data-src="./assets/todo-slide_04.png">
                            <img src="./assets/todo-slide_04.png" alt="todo-slide-04">
                        </a>
                    </div>
                    <div class="product__slider-item-right">
                        Подпишите <br>
                        и подтвердите <br> счет
                    </div>
                </div>
            </div>
            <div class="product__slider-arrows">
                <button class="swiper-button-prev">
                    <svg>
                        <use xlink:href="#swiperPrevArrowIcon"/>
                    </svg>
                </button>
                <button class="swiper-button-next">
                    <svg>
                        <use xlink:href="#swiperNextArrowIcon"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="product__slider-bot-text">
            <span>Или обратитесь к нашим операторам, которые подключат вас за 3 минуты</span>
        </div>
    </div>
</section>