<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oddiy-Smartpos</title>
</head>
<body>
    <svg style="position: absolute; top: -1000px; left: -1000px; pointer-events: none; opacity: 0">
        {{> template-parts/sprites }}
    </svg>
    {{> template-parts/header }}
    {{> template-parts/banner }}
    {{> template-parts/table }}
    {{> template-parts/todo  }}
    {{> template-parts/callback-form  }}
    {{> template-parts/faq }}
    {{> template-parts/footer }}
</body>
</html>