<!doctype html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oddiy-Smartpos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png">
</head>
<body>
<svg style="position: absolute; top: -1000px; left: -1000px; pointer-events: none; opacity: 0">
    {{> template-parts/sprites }}
</svg>
{{> template-parts/header }}
{{> template-parts/banner }}
{{> template-parts/table }}
{{> template-parts/todo  }}
{{> template-parts/callback-form  }}
{{> template-parts/faq }}
{{> template-parts/footer }}
</body>
</html>